<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQl

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. scikit-learn
4. tensorflow

**Objectives :**
- Python
- R
- SQL

| Data Science Tools |
----
| Jupyter Lab |
| PostgreSQL |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [7]:
minutes = 200
hours = minutes/60 #This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author
Lutfi Kurrotaeni